<div id="carousel-example-generic" class="carousel slide carousel-fade">
				   
<!-- Wrapper for slides -->

<div class="carousel-inner">
	<!-- Carousel item start -->
	<div class="item active">
		<!-- Carousel background images -->
		<img src="/images/html5_big.jpg" class="img-responsive" alt="" />
		<div class="carousel-caption">
			<div class="row">
				<!-- 
				<div class="col-md-6">
					<img src="/images/html5.jpg" alt="" class="img-responsive" /> 
				</div>
				<div class="col-md-6">
					<div class="caption-content">
						<h3>Bonorum et Malorum</h3>
						<p>It is a long established fact that a reader will be distracted by Lorem Ipsum passage, and going the readable content oits layout.</p>
					</div>
				</div>
				-->
			</div>
		</div>
	</div>

	<div class="item">
		<img src="/images/css3_big.jpg"  class="img-responsive" alt=""/>
		<div class="carousel-caption">
			<div class="row">
				<!-- 
				<div class="col-md-6">
					<img src="/images/css3.jpg" alt="" class="img-responsive" /> 
				</div>
				<div class="col-md-6">
					<div class="caption-content">
						<h3>Extremes of Good</h3>
						<p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using making it look like readable English.</p>
					</div>
				</div>
				-->
			</div>
		</div>
	</div>

	<div class="item">
		<img src="/images/phonegap_big.jpg"  class="img-responsive" alt=""/>
		<div class="carousel-caption">
			<div class="row">
				<!-- 
				<div class="col-md-6">
					<img src="/images/phonegap.png" alt="" class="img-responsive" />
				</div>
				<div class="col-md-6">
					<div class="caption-content">
						<h3>Contrary to popular</h3>
						<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form even slightly believable.</p>
					</div>
				</div>
				-->
			</div>
		</div>
	</div>
</div>

<!-- Controls -->

<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
	<span class="icon-prev"></span>
</a>
<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
	<span class="icon-next"></span>
</a>
</div>