<div class="row">
	<div class="span9">
	<form method="post" action="/post">
	标题：<br/>
	<input type="text" name="title"/><br/>
	标签：<br/>
	<input type="text" name="tags" placeholder="tag之间请用空格分开"/><br/>
	正文：<br/>
	<textarea name="content" rows="8" cols="100"></textarea><br/>
	<input type="submit" class="btn btn-primary btn-block" value="发表"/>
	</form>
	</div>
</div>